@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    background-color: hsl(226, 43%, 10%);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: flex;
    padding: auto;
    flex-direction: column;
    height: 100vh;
    align-content: center; 
    justify-content: space-between; 

    
}
.dash {
    height: 500px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin-top: auto;

}
.cardgrid {
    display: flex;
    
    flex-wrap: wrap;
    align-items: stretch;
    width: 850px;
    gap: 20px;
}



.header {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 520px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
}

.name {
    background-color: hsl(246, 80%, 60%);
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.card1, .card2, .card3, .card4, .card5, .card6 {
    width: 250px;
    border-radius: 10px;
    
}
.card1 {
    background-color: hsl(15, 100%, 70%);
    height: 250px;
    justify-items:right;
    overflow: hidden;
    
}
.card2 {
    background-color: hsl(195, 74%, 62%);
    height: 250px;
    justify-items:right;
    overflow: hidden;
    
}
.card3 {
    background-color: hsl(348, 100%, 68%);
    height: 250px;
    justify-items:right;
    overflow: hidden;
    
}
.card4 {
    background-color: hsl(145, 58%, 55%);
    height: 250px;
    justify-items:right;
    overflow: hidden;
    
}
.card5 {
    background-color: hsl(264, 64%, 52%);
    height: 250px;
    justify-items:right;
    overflow: hidden;
    
}
.card6 {
    background-color: hsl(43, 84%, 65%);
    height: 250px;
    justify-items:right;
    overflow: hidden;
    
}
.info {
    border-radius: 9px;
    background-color: hsl(235, 46%, 20%);
    margin-top: -50px;
    margin-bottom: 0;
    height: 220px;
    z-index: 1000;
    overflow: auto;
    position: relative
}
.card1 > img {
    position: relative;
    width: 40%;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.avatar {
    border: solid 2px white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    
}

.attribution {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

